<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>numberOfQuestions</key>
		<integer>5</integer>
		<key>quizTitle</key>
		<string>Sample Quiz</string>
	</dict>
	<key>question1</key>
	<dict>
		<key>questionType</key>
		<integer>1</integer>
		<key>comicName</key>
		<string>testcomic1.jpg</string>
		<key>questionText</key>
		<string>test</string>
		<key>correctAnswer</key>
		<true/>
		<key>correctResponse</key>
		<string>You did well.</string>
		<key>incorrectResponse</key>
		<string>What a complete travesty.</string>
		<key>trueQuestionLabel</key>
		<string>true</string>
		<key>falseQuestionLabel</key>
		<string>false</string>
	</dict>
	<key>question2</key>
	<dict>
		<key>questionType</key>
		<integer>2</integer>
		<key>comicName</key>
		<string>testcomic2.jpg</string>
		<key>questionText</key>
		<string>test2</string>
		<key>option1</key>
		<string>one</string>
		<key>option2</key>
		<string>two</string>
		<key>option3</key>
		<string>three</string>
		<key>option4</key>
		<string>four</string>
		<key>correctAnswers</key>
		<array>
			<true/>
			<true/>
			<false/>
			<false/>
		</array>
		<key>correctResponse</key>
		<string>Knocked it out of the ballpark, chief.</string>
		<key>incorrectResponse</key>
		<string>Well, this is diappointing.</string>
		<key>isPictureBased</key>
		<true/>
	</dict>
	<key>question3</key>
	<dict>
		<key>questionType</key>
		<integer>3</integer>
		<key>comicName</key>
		<string>testcomic3.jpg</string>
		<key>questionText</key>
		<string>test3</string>
		<key>options</key>
		<dict>
			<key>option1</key>
			<dict>
				<key>text</key>
				<string>one</string>
				<key>answer</key>
				<true/>
			</dict>
			<key>option2</key>
			<dict>
				<key>text</key>
				<string>two</string>
				<key>answer</key>
				<false/>
			</dict>
			<key>option3</key>
			<dict>
				<key>text</key>
				<string>three</string>
				<key>answer</key>
				<false/>
			</dict>
			<key>option4</key>
			<dict>
				<key>text</key>
				<string>four</string>
				<key>answer</key>
				<true/>
			</dict>
		</dict>
		<key>correctAnswer</key>
		<integer>1</integer>
		<key>correctResponse</key>
		<string>Neato!</string>
		<key>incorrectResponse</key>
		<string>Totally not neat.</string>
	</dict>
	<key>question4</key>
	<dict>
		<key>questionType</key>
		<integer>4</integer>
		<key>comic1</key>
		<string>multicomic1.jpg</string>
		<key>comic2</key>
		<string>multicomic2.jpg</string>
		<key>comic3</key>
		<string>multicomic3.jpg</string>
		<key>comic4</key>
		<string>multicomic4.jpg</string>
	</dict>
	<key>question5</key>
	<dict>
		<key>questionType</key>
		<string>5</string>
		<key>comicName</key>
		<string>widecomic.jpg</string>
		<key>comicText</key>
		<string>words words words words words</string>
	</dict>
	<key>summary</key>
	<dict>
		<key>goodSummaryImage</key>
		<string>goodSummaryImage.jpg</string>
		<key>goodSummaryTitle</key>
		<string>Good Work!</string>
		<key>badSummaryTitle</key>
		<string>Oh no!</string>
		<key>badSummaryImage</key>
		<string>badSummaryImage.jpg</string>
		<key>goodSummaryText</key>
		<string>You did well overall. Here&apos;s why.</string>
		<key>badSummaryText</key>
		<string>You don&apos;t know jack about the beetus.</string>
		<key>goodThreshold</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
