<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>question1</key>
	<dict>
		<key>questionType</key>
		<integer>1</integer>
		<key>comicName</key>
		<string>testcomic1.jpg</string>
		<key>questionText</key>
		<string>test</string>
		<key>correctAnswer</key>
		<false/>
		<key>correctResponse</key>
		<string>You did well.</string>
		<key>incorrectResponse</key>
		<string>What a complete travesty.</string>
	</dict>
	<key>question2</key>
	<dict>
		<key>questionType</key>
		<integer>2</integer>
		<key>comicName</key>
		<string>testcomic2.jpg</string>
		<key>questionText</key>
		<string>test2</string>
		<key>option1</key>
		<string>one</string>
		<key>option2</key>
		<string>two</string>
		<key>option3</key>
		<string>three</string>
		<key>option4</key>
		<string>four</string>
		<key>correctAnswer</key>
		<integer>1</integer>
		<key>correctResponse</key>
		<string>Knocked it out of the ballpark, chief.</string>
		<key>incorrectResponse</key>
		<string>Well, this is diappointing.</string>
	</dict>
	<key>question3</key>
	<dict>
		<key>questionType</key>
		<integer>3</integer>
		<key>comicName</key>
		<string>testcomic3.jpg</string>
		<key>questionText</key>
		<string>test3</string>
		<key>option1</key>
		<dict>
			<key>option</key>
			<string>word1</string>
			<key>answer</key>
			<false/>
		</dict>
		<key>option2</key>
		<dict>
			<key>option</key>
			<string>word2</string>
			<key>answer</key>
			<true/>
		</dict>
		<key>option3</key>
		<dict>
			<key>option</key>
			<string>word3</string>
			<key>answer</key>
			<false/>
		</dict>
		<key>option4</key>
		<dict>
			<key>option</key>
			<string>word4</string>
			<key>answer</key>
			<true/>
		</dict>
		<key>correctAnswer</key>
		<integer>1</integer>
		<key>correctResponse</key>
		<string>Neato!</string>
		<key>incorrectResponse</key>
		<string>Totally not neat.</string>
	</dict>
	<key>question4</key>
	<dict>
		<key>questionType</key>
		<integer>4</integer>
		<key>comicName</key>
		<string>testComic4.jpg</string>
		<key>questionText</key>
		<string>question4</string>
		<key>option1</key>
		<string>option1.jpg</string>
		<key>option2</key>
		<string>option2.jpg</string>
		<key>option3</key>
		<string>option3.jpg</string>
		<key>option4</key>
		<string>option4.jpg</string>
		<key>correctAnswer</key>
		<integer>1</integer>
		<key>correctResponse</key>
		<string>Nice work ace.</string>
		<key>incorrectResponse</key>
		<string>Better luck next time, slugger.</string>
	</dict>
	<key>question5</key>
	<dict>
		<key>questionType</key>
		<integer>5</integer>
		<key>comicOne</key>
		<string>multicomic1.jpg</string>
		<key>comicTwo</key>
		<string>multicomic2.jpg</string>
		<key>comicThree</key>
		<string>multicomic3.jpg</string>
	</dict>
</dict>
</plist>
